@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&display=swap');
:root {
    --font-title: 'Fredericka the Great', cursive;
    --font-text: 'Averia Serif Libre', cursive;
    --main-color: #0F454F;
    --second-color: #245E69;
    --contrast-color: #432F74
}
.navBack {
    background-color: var(--main-color);
    padding: 2rem;
}
.carousel-cont {
    height: 100vh;
}
.button-color {
    color: var(--second-color);
}
.backg-button {
    background-color: rgba(48, 48, 48, 0.7);
    width: 5rem;
    height: 5rem;
}
.carousel-item {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}
.carousel-item-image--first {
    background-image: url("../../public/image/laptop.jpg");
}
.carousel-item-image--second {
    background-image: url("../../public/image/notebook.jpg");
}
.carousel-item-image--third {
    background-image: url("../../public/image/workplace.jpg");
}
.carousel-text {
    border: 2px solid rgba(67, 121, 131, .2);
    color: white;
    padding: 2em;
    background-color: rgba(67, 121, 131, .2);
}
.carousel-text-p--size {
    font-size: 2rem;
}
.carousel-text-title--size {
    font-size: 3rem;
}
@media (max-width: 1200px) {
    .carousel-text {
        max-width: 70%;
    }
    .carousel-text-p--size {
        font-size: 1.3rem;
    }
    .carousel-text-title--size {
        font-size: 2rem;
    }
}
.carousel-text-p--sub {
    font-size: 2rem;
}
.title--size {
    font-size: 5rem;
}
.presentation {
    font-family: var(--font-title);
    color: var(--main-color);
    font-weight: bold;
}
p {
    font-family: var(--font-text);
}
.link-color {
    color: var(--second-color) !important;
}
.services {
    background-color: var(--main-color);
    color: white;
    font-family: var(--font-text);
}
.services-text--color {
    font-family: var(--font-title);
    font-size: 5rem;
    padding: .5rem;
}
.services-text--size {
    font-family: var(--font-text);
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
.services-title--nobold {
    font-weight: normal;
}
.services-image {
    width: auto !important;
    background: url("../../public/image/service.jpg") center no-repeat;
    background-size: cover;
    height: 100% !important;
    z-index: 10;
}
.services-list li {
    list-style: none;
}
.services-list li div {
    border-color: #432F75;
    background-color: #432F75;
}
.services-icon--color {
    color: #437983;
}

