.navBack {
    background-color: #0F454F;
    padding: 2rem;
}
.carousel-cont {
    height: 100vh;
}
.button-color {
    color: #0f444f;
}
.backg-button {
    background-color: rgba(48, 48, 48, 0.7);
    width: 5rem;
    height: 5rem;
}
.carousel-item {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}
.carousel-item-image--first {
    background-image: url("../../public/image/laptop.jpg");
}
.carousel-item-image--second {
    background-image: url("../../public/image/notebook.jpg");
}
.carousel-item-image--third {
    background-image: url("../../public/image/workplace.jpg");
}
.carousel-text {
    border: 2px solid rgba(67, 121, 131, .2);
    color: white;
    padding: 2em;
    background-color: rgba(67, 121, 131, .2);
}
.carousel-text-p--size {
    font-size: 2rem;
}
.carousel-text-title--size {
    font-size: 3rem;
}
@media (max-width: 1200px) {
    .carousel-text {
        max-width: 70%;
    }
    .carousel-text-p--size {
        font-size: 1.3rem;
    }
    .carousel-text-title--size {
        font-size: 2rem;
    }
}
.carousel-text-p--sub {
    font-size: 2rem;
}
.presentation {
    height: 100vh;
}
.title--size {
    font-size: 3rem;
}