{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center mt-5 p-4">
            <h2 class="text-uppercase">Présentation</h2>
            <p><strong>Développeur passionné</strong>depuis mon enfance, j'ai décidé d'effectuer une reconversion professionnelle en tant que <strong>développeur web</strong>. J'ai acquis au cours de mon cursus la capacité de mener des projets depuis le cahier des charges jusqu'à la mise en ligne</p>
            <p>Les différents soft-skills que j'ai acquis lors de ma précédente vie professionnelle, me permettent d'être à l'écoute de vos besoins en matière de <em>projets web</em> </p>
            <p>Besoin de voir <a href="#">mes réalisations</a></p>
            <p>Vous souhaitez télécharger mon cv au format <a href="{{ asset('download/CV-Kevin-Bourisville.pdf') }}" download="CV-Kevin-Bourisville">PDF</a></p>
            <p></p>
        </div>
    </div>
</section>
{% endblock %}
